/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #1a2c3fe5;
}


/* Header */
header {
    background: #1c3146;
    color: #9dac5e;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

#pp-container {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid #9dac5e;
}

#pp-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


header nav ul li a {
    color: #9dac5e;
    text-decoration: none;
    font-weight: bold;
}


header nav ul li a:hover{
    color: #566b00;
}

/* Main*/

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    color:#c9c9c9;
    background: #aaa9a95b;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* projet */

.link {
    display: inline-block;
    margin-top: 10px;
    color: #9dac5e;
    text-decoration: none;
    font-weight: bold;
}

/* Animation pour glisser de la droite */
@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation pour glisser vers la gauche */
@keyframes slide-out-left {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* Classes pour appliquer les animations */
.projectContainer {
    position: relative; /* Conteneur qui positionne les projets */
    height: 200px; /* Ajuste cette valeur en fonction de la taille de tes projets */
    overflow: hidden; /* Empêche les projets en transition de dépasser le conteneur */
    border-radius: 10px;
}

.project {
    position: absolute; /* Les projets se superposent dans le conteneur */
    border-radius: 10px;
    border-color: #333;
    background-color: #1f1f1f6c;
    overflow: hidden;
    padding: 10px;
    top: 0;
    left: 2%;
    width: 95%;
    opacity: 0; /* Invisible par défaut */
    transform: translateX(100%); /* Place les projets hors de vue à droite */
    transition: transform 2s ease, opacity 0.8s ease; /* Transition fluide */
}

.project.active {
    opacity: 1; /* Rendre visible */
    transform: translateX(0); /* Place à la position normale */
}

.project.hidden {
    opacity: 0; /* Rendre invisible */
    transform: translateX(-100%); /* Glisse vers la gauche */
}

.projectContentContainer{
    margin-left: 1%;
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: var(--bg-image) no-repeat center center;
    background-size: cover;
    opacity: 0; /* Caché initialement */
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: -1;
    
}


.project:hover::before {
    opacity: 0.5;
    animation: slide-bg 2s ease forwards;
    background: var(--bg-image) no-repeat center center;
}

@keyframes slide-bg {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(33%);
    }
}






form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background: #0073e6;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #005bb5;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    font-size: 0.9rem;
}

/* Footer */

footer a {
    color: #0073e6;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
